@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-left img {
  width: 550px;
  border-radius: 50%;
  height: 520px;
}
.about-left {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.about-sections {
  display: flex;
  gap: 80px;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 22px;
  font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}
@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
    width: auto;
  }
  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-title img {
    width: 130px;
    right: -20px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6px;
  }
  .about-achievements {
    justify-content: space-between;
    gap: 40px;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}
.animate {
  animation: change 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes change {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.about-languages {
  margin-top: 40px;
}
.about-languages h2 {
  font-size: 30px;
  text-align: center;
}

.language-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.language:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  color: black;
}

.language img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.language img:hover {
  transform: scale(1.1);
}

.language p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}
